<?xml version="1.0" encoding="ISO-8859-1"?> 
<menu>
    <menu-entete>
        <icone>images/toolbar/nouveau.png</icone>
        <libelle>Création</libelle>
        <title>Création</title>
        <onclick>javascript:parent.afficherMenu('accueil')</onclick>
        <menu-item>
            <libelle>Création</libelle>
            <url>{URL_CHOIX_TYPE_CREATION}</url>
        </menu-item>
    </menu-entete>
    <menu-entete>
        <icone>images/toolbar/recher.png</icone>
        <libelle>Recherches</libelle>
        <title>Recherches</title>
        <onclick>javascript:return affichePageToolbar(this, 'lien_1','../../../../interface/session/principal/type/afficher_type.php?ACTION=RECHERCHE')</onclick>
        <menu-item>
            <libelle>{CST_LIBELLE_TOOLBAR_RECH_SIM}</libelle>
            <url>{URL_CHOIX_TYPE_RECHERCHE_SIMPLE}</url>
        </menu-item>
        <menu-item>
            <libelle>{CST_LIBELLE_TOOLBAR_RECH_ELA}</libelle>
            <url>{URL_CHOIX_TYPE_RECHERCHE_ELABOREE}</url>
        </menu-item>
        <menu-item>
            <libelle>{CST_LIBELLE_TOOLBAR_RECH_EXC_SIM}</libelle>
            <url>{URL_AFFICHER_RECHERCHE_FTX}</url>
        </menu-item>     
        <menu-item>
            <libelle>{CST_LIBELLE_TOOLBAR_GEST_BIB}</libelle>
            <url>{URL_AFFICHE_QUEST_BIB}</url>
        </menu-item>
        <menu-item>
            <libelle>{CST_LIBELLE_TOOLBAR_RECH_NUM}</libelle>
            <url>{URL_RECHERCHE_POS_NUM_DOC}</url>
        </menu-item>     
        <menu-item>
            <libelle>{CST_LIBELLE_TOOLBAR_RECH_CLE}</libelle>
            <url>{URL_CHOIX_TYPE_RECHERCHE_CLE}</url>
        </menu-item>       
        <menu-item>
            <libelle>{CST_LIBELLE_TOOLBAR_RECH_HIS_QUEST}</libelle>
            <url>{URL_AFFICHE_HIST_QUESTION}</url>
        </menu-item>
    </menu-entete>
    <menu-entete>
        <icone>images/toolbar/outils.png</icone>
        <libelle>Outils</libelle>
        <title>Outils</title>
        <onclick>javascript:parent.afficherMenu('parametrage')</onclick>
        <menu-item type='titre'>
            <libelle>Paramétrage</libelle>
			<menu-item>
                <libelle>Modifier la page d'accueil</libelle>
                <url>javascript:return affichePageToolbar(this, 'editionportail','{URL_AFFICHER_QUESTION}?EDITION=1')</url>
            </menu-item>
            <menu-item>
                <libelle>{CST_LIBELLE_TOOLBAR_GEST_PROFIL}</libelle>
                <url>{URL_AFFICHE_GEST_PROFIL_LR}</url>
            </menu-item>
             
        </menu-item>
    </menu-entete>
</menu>
